*{
    margin: 0;
    padding: 0;
}

body{
    height:960px;
}

ul{
    list-style: none;
  
}

::-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none !important;
    color: white !important;
}


/* nav bar start*/


nav {
    position: fixed;
    top: 30%;
    left: -8%;
    width: 200px;
    z-index: 10;
    background-image: linear-gradient(45deg, #00baff, #00b9ff00);
    padding: 1%;
    border-radius: 5px;
}


nav .div-nav-btn {
    display: grid;
    width: fit-content;
    float: right;
}

nav button {
    margin: 10% 0%;
    padding: 20px 20px;
    text-transform: uppercase;
    color: #00d3ff;
    background-color: transparent;
    border: none;
    width: fit-content;
    transition: 0.5s;
}

.btn-active{
    background-color: #00caff;
    color: white;
    padding: 20px 20px;
    border-radius: 100%;
  
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* nav bar end*/


/* main body start  */

.main-body{
    width: 100%;
    /* height: 1100px; */
    /* padding-left: 6%; */
    position:fixed;
    top: 0%;
    left: 0%;
    /* background-color: #051424; */
    z-index: 1;
    display: -webkit-box;
    transition: 2s;
}



.main-body .sec-position {
    padding: 5% 0%;
    background-size: cover;
    background-color: #0514248a;
    background-repeat: no-repeat;
    transition: 2s;
    border-radius: 20px 20px 20px 20px;
    width: -webkit-fill-available;
    border-top: none;
    box-shadow: 1px 1px 9px 2px #00d0ff;
    margin: 5% 2% 0% 2%;
}

.main-body .sec-banner{

    z-index: 4;
    
    
    
   
    

}

.div-banner-image {
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    border-radius: 100%;
    /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}




.main-body .sec-banner .colum-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-body  h1 .text-gray {
    color: white;
    font-weight: 700;
}
.main-body .projects-sec h1 {
    font-size: 46px;
    color: #00d0ff;
    font-weight: 700;
    text-align: center;

}

.main-body .projects-sec h1 span{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.main-body .div-slid-show  h3 {
    font-size: 48px;
    color: #00d0ff;
    font-weight: 700;
}

.div-slid-show {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 16%;
}

.div-slide {
    position: absolute;
    animation-name: hero-slide;
    animation-duration: 10s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
}



@keyframes hero-slide {
    0%{
        top: 0%;
    }

10%{
    top: -100%;
} 

20%{
    top: -100%;
} 
30%{
    top: -100%;
} 

40%{
    top: -200%;
} 
50%{
    top: -200%;
} 

55%{
    top: -200%;
} 


65%{
    top: -300%;
} 

75%{
    top: -300%;
} 

85%{
    top: -300%;
} 

95%{
    top: 0%;
} 




    100%{

        top: 0%;
    }
    
}




.main-body  p{
    font-size: 18px;
    font-weight: 500;
    color: white;
}


.main-body h3{
    color: white;
}


.div-button {
    border: 2px solid #00d0ff;
    width: fit-content;
    padding: 9px 23px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}

.div-button a{
    color: white;
}

.div-button:hover{
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    color: white;
    border: 2px solid #00d0ff;
}


.main-body .sec-banner .div-banner-image img{
    width: 85%;
}


.main-body .sec-banner .div-social-icons ul{
    display: flex;
    justify-content: end;
}
.main-body .sec-banner .div-social-icons ul li{ 
    
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  transition: 0.5s;
    color: #464646;
}

.main-body .sec-banner .div-social-icons ul li:hover{ 
   
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    border-radius: 100%;
    
    color: white;
}



.z-index{
    /* z-index: -1 !important; */
    top: -100%;
    transition: 0.5s;
    
}


.slide-down{
   
    left: 9.5% !important;
   /* opacity: 1; */
   transition: 0.5s;
}

.slide-up{
    
    left: 120% !important;
   /* opacity: 0; */
   transition: 0.5s;
}






/* sec2 start */


.sec2 {
    z-index: 3;
    /* top: 20%; */
    
    
}

.projects-sec .div-counter{
    display: flex;
    justify-content: space-around;
}

.projects-sec .div-portfolio-card  {
position: relative;
margin: 6% 7%;
/* border: 4px solid #00d0ff; */
padding: 0% 0%;
border-radius: 5px;
box-shadow: 1px 1px 30px 1px #00d0ff;
}

.projects-sec .div-portfolio-card .port-btn {
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    text-align: center;
    
    color: white;
    text-transform: capitalize;
    padding: 2% 0%;
    font-weight: 700;
}

/* .sec2 .div-portfolio-card::before  {
    position: absolute;
    content: "";
    background-color: red;
    top: -5%;
    left: 0%;
    width: 50%;
    height: 5%;
}

.sec2 .div-portfolio-card::after  {
    position: absolute;
    content: "";
    background-color: red;
    top: 0%;
    left: -3%;
    width: 3%;
    height: 60%;
} */


/* each website image by using background image */

.projects-sec .div-portfolio-card .bacanlow {
background-image: url(../image/baconlawfirm.png);
}


.projects-sec .div-portfolio-card .mickreyna {
background-image: url(../image/mickreynarealestate.png);
}

.projects-sec .div-portfolio-card .lighthouse {
background-image: url(../image/lighthousehealing.png);
}

.projects-sec .div-portfolio-card .fantom {
background-image: url(../image/fantom.png);
}

.projects-sec .div-portfolio-card .e-book {
background-image: url(../image/e-book.png);
}

.projects-sec .div-portfolio-card .social {
background-image: url(../image/sociaomed.png);
}



.projects-sec .div-portfolio-card .port-image {
    width: 100%;
    height: 192px;
    
    transition: 5.5s;
    
background-size: cover;
background-position: center top;   
 
}



.projects-sec .div-portfolio-card .port-image:hover  {
    background-position: center bottom;
   
    
    
}




.projects-sec .div-counter .div-count-1{ 

    display:flex;
justify-content: center;
align-items: center;
flex-direction: column;

}


.projects-sec .div-counter .div-count-1 h5{
    font-size: 28px;
}

.projects-sec .div-counter .div-count-1 p{
    font-size: 15px;
}


.projects-sec .div-image img{
    width: 100%;
}

.projects-sec .button-se2{
    display: flex;
    justify-content: center ;
    }



    /* ******* sec2 more cms start ***** */
    
    .more-cms{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 50;
        transform: scale(0);
        transition: 0.5s;
    }

     .cms_active{
        transform: scale(1);
        transition: 0.5s;
    }
    
    /* ******* sec2 more cms end ***** */
    
/* sec2 wnd */

/* sec3 start */

.sec3 {
    z-index: 2;
    
    
}


.sec3 h1{
    text-align: center;
    
}


.sec3 .div-testimoni {

   
padding: 5%;
text-align: center;
color: #5a5a5a;
}


.sec3 .div-testimoni .div-quat{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    color: #b8b8b8;
    font-size: 37px;
}

.sec3 .div-testimoni .div-reviwe{

    margin-bottom: 10%;
}

.sec3 .div-testimoni .div-image{
    margin-bottom: 5%;
}



.sec3 .div-testimoni .div-image img{

    width: 70px;
    height: 70px;
    border-radius: 100%;


}


footer{
    z-index: 1;
    
}

footer ul {
    padding: 0;
    line-height: 50px;
}


footer form input{
    width: 100%;
    padding: 2%;
    padding: 22px 0px;
    border: none;
    border-bottom: 1px solid #00caff;
    
    background-color: transparent;
}

footer textarea {
    width: 100%;
    height: 124px;
    padding: 22px 0px;
    border: none;
    border-bottom: 1px solid #00caff;
    background-color: transparent;
    
}


.submit-button{

    padding: 0;
    background-color: unset;
    padding: 2% 5%;
    text-align: center;
    width: 30%;
    border: 2px solid #00d0ff;
    border-radius: 40px;
    color: wheat;
    margin: 5% 0%;
    transition: 0.5s;
}
.submit-button:hover{

    color: white;
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    
}

.form-button{
    width: 100%;
    
}




.show{
    opacity: 1;
    transition: 0.5s;
    z-index: 6;
}

.hidden{
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

/* body shadow div */

.div-for-shadow{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: -webkit-fill-available;
    background-image: linear-gradient(45deg, #0339fb, #00d0ff);
    z-index: 0;
    
}

.div-for-shadow video{
    width: 100%;
}

/* main body end  */
